<p id="notice"><%= notice %></p>

<h1>Posts</h1>


<%= render 'form', post:@post%>


    <% @posts.each do |post| %>
      
        <div><%= post.title %></div>
        
        <div>
          <audio controls>
            <source src="<%= post.audio %>" type="audio/mp3">
          </audio>
        </div>
        
        <div><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <br>
    <% end %>
  


<br>


