<div id="<%= post.id %>" class="post entry">
        <div id="head_short"><%= post.id %></div>
        <div id="head_wide"><%= post.title %></div>
        <div id="head_short"><%= post.post_type %></div>
		<div class="comment post_comment_#<%= post.id %>"><%= post.content %></div>
</div>        

       
<div class="entry">
	 <div class="half edit_button" data-target="#myupdatepost_<%= post.id %>">Edit</div>
	<div class="half"><%= link_to 'Destroy', post, method: :delete, remote: true %></div>
</div>

<div class="EP <%= post.id %>">
<%= form_for(post, :method => :put, remote: true) do |form| %>

	<div class="field">
		<div class="lefter"><%= form.label :title, class: 'wordy' %></div>
		<div class="lefter"><%= form.text_field :title, id: :post_title %></div>
		
	</div>

	<div class="field">
		<div class="lefter"><%= form.label :content, class: 'wordy' %></div>
		<div class="lefter"><%= form.text_area :content, id: :post_content %></div>
	</div>

	<div class="field">
		<div class="lefter"><%= form.label :post_type, class: 'wordy' %></div>
		<div class="lefter"><%= form.select :post_type, options_for_select([["Select One", ""], "1st", "2nd", "3rd", "Personal", "Other"]) %></div>
	</div>

	<div class="actions">
		<div class="lefter"><%= form.submit %></div> 
	</div>

<% end %>
</div>

<%
=begin %>

<tr id="<%= post.id %>">
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.post_type %></td>

        
        <td class="comment post_comment_#<%= post.id %>"><%= post.content %></td>
         

        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post), remote: true %></td>
  
       
      
</tr>
    


<tr class="EP <%= post.id %>">
<%= form_for(post, :method => :put, remote: true) do |form| %>

	<td class="field">
		<%= form.label :title %>
		<%= form.text_field :title, id: :post_title %>
	</td>

	<td class="field">
		<%= form.label :content %>
		<%= form.text_area :content, id: :post_content %>
	</td>

	<td class="field">
		<%= form.label :post_type %>
		<%= form.select :post_type, options_for_select([["Select One", ""], "1st", "2nd", "3rd", "Personal", "Other"]) %>

	</td>

	<td class="actions">
		<%= form.submit %>
	</td>

<% end %>
</tr>
    <%
=end %>
