<tr id="<%= post.id %>">
        <td><%= post.id %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.post_type %></td>
        <td><%= link_to 'Show', post %></td>
        <td><button type="button" class="edit_button" data-target="#myupdatepost_<%= post.id %>">Edit</button></td>
        <td><%= link_to 'Edit', edit_post_path(post), remote: true %></td>
        <td><%= link_to 'Destroy', post, method: :delete, remote: true %></td>
        
</tr>


<tr class="EP <%= post.id %>">
<%= form_for(post, :method => :put, remote: true) do |form| %>

	<td class="field">
		<%= form.label :title %>
		<%= form.text_field :title, id: :post_title %>
	</td>

	<td class="field">
		<%= form.label :content %>
		<%= form.text_area :content, id: :post_content %>
	</td>

	<td class="field">
		<%= form.label :post_type %>
		<%= form.select :post_type, options_for_select([["Select One", ""], "1st", "2nd", "3rd", "Personal", "Other"]) %>

	</td>

	<td class="actions">
		<%= form.submit %>
	</td>

<% end %>
</tr>
<tr><td></td></tr>
<tr><td></td></tr>
