<p id="notice"><%= notice %></p>

<select class="main_filter">
  <option value="All" selected="selected">All</option>
  <option value="1st">1st</option>
  <option value="2nd">2nd</option>
  <option value="3rd">3rd</option>
  <option value="Personal">Personal</option>
  <option value="Other">Other</option>
</select>

<div id="filter_buttons">
  <div id="collection">
    <button class="filter_button">All</button>
    <button class="filter_button">1st</button>
    <button class="filter_button">2nd</button>
    <button class="filter_button">3rd</button>
    <button class="filter_button">Personal</button>
    <button class="filter_button">Other</button>
  </div>
</div>
  <div id="message_two">
    <p>Click the post to see the details ^^</p>
  </div>

<table id="awesome_table">
  <thead id="awesome_head">
    <tr id="awesome_first_row">
      <th id="head_short">Post#</th>
      <th id="head_wide">Title</th>
      <th id="head_short">Type</th>
    </tr>
  </thead>
  
</table>
 <%= render @posts %>




<br>
<p>New post form with Ajax</p> 

<%= form_for(@post, remote: true) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, id: :post_title %>
    </div>

    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content, id: :post_content %>
    </div>

    <div class="field">
      <%= f.label :post_type %>
      <%= f.select :post_type, options_for_select([["Select One", ""], "1st", "2nd", "3rd", "Personal", "Other"]) %>

    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>



<p>New post form without ajax</p>
<%= link_to 'New Post', new_post_path %>



