


<section class="show_stuff">
	
	<div class="content_area">
		<%# check for image %>
	<% if @a[0].data.url != "/data/original/missing.png" %>
		<% info = @a[0].data.url  %>
		

		<% if ["jpeg", "gif", "bmp", "tiff","png","jpg"].any? { |word| info.include?(word) } %>

			<img src= "<%= info %>">
			<%# check for video %>
		<% elsif ["avi", "flv", "wmv", "muv","mp4"].any? { |word| info.include?(word) }  %>

			<video width="320" height="240" controls>
		  		<source src="<%= info %>" >
			</video>
			<%# check for audio %>
		<% elsif ["wav", "aiff", "mp3", "acc","ogg","wma"].any? { |word| info.include?(word) } %>

			<audio controls="">
				<source src="<%= info %>" >
			</audio>
		<% end %>
	<% else %>
		<%# nothing else check assume its a website %>
		
		<iframe src="<%= @a[0].website %>"></iframe>
	<% end %>

	</div>

	<div class="return_button"><%= link_to("Back", root_path) %> </div>
	<button class="fun">Fun!</button>
</section>

