
<%= form_for @article, url: articles_path, html: { multipart: true } do |f| %>

	<div id="post_container">
		<%= f.file_field :data, class: "browse_button" %>
		<%= f.text_field :website, class: "website_input" %>
		
  
		<%= f.submit "Ike!", class: "ike_button" %>
		<div class="back_button">
			<%= link_to "Back", root_path, class: "back_link"  %>
		</div>
		

	</div>
<% end %>

		